<ion-content>
    <ion-list>
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" [(ngModel)]="medicine.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Quantity</ion-label>
            <ion-input type="number" [(ngModel)]="medicine.quantity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Morning</ion-label>
            <ion-checkbox [(ngModel)]="medicine.morning" [disabled]="!isMorningAvail()"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label stacked>Midday</ion-label>
            <ion-checkbox [(ngModel)]="medicine.midday" [disabled]="!isMiddayAvail()"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label stacked>Evening</ion-label>
            <ion-checkbox [(ngModel)]="medicine.evening" [disabled]="!isEveningAvail()"></ion-checkbox>
        </ion-item>
        <ion-item>
            <button secondary outline (click)="save()">Save</button>
            <button danger outline (click)="delete()" *ngIf="medicine.id">Delete</button>
        </ion-item>
    </ion-list>
</ion-content>